<section>
  <div class="product-list">
    <ng-template ngFor let-product [ngForOf]="productList" [ngForTrackBy]="trackByFn">
      <div class="product-item">
        <div class="product-item_img">
          <a href="#">
            <img [src]="product.imageUrl" alt="Product">
          </a>
        </div>
        <div class="product-item_info">
          <div class="product-colors">
            <ul class="list-inline">
              <li *ngFor="let color of product.colors" class="list-inline-item">
                <a class="color" href="#" [style.background-color]="color"></a>
              </li>
            </ul>
          </div>
          <div class="product-name-add">
            <p>{{product.name}}</p>
            <button><i class="fa fa-add" aria-hidden="true"></i>{{'PRODUCT.ADD' | translate}}</button>
          </div>
          <div class="product-price-buy">
            <h6>{{product.price}}</h6>
            <button translate>PRODUCT.BUY</button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="more">
    <a href="#" translate>PRODUCT.MORE</a>
  </div>
</section>
