/* You can add global styles to this file, and also import other style files */
@import 'variables';

header {
  background: #fff;
  padding-top: 8px;
  padding-bottom: 8px;

  .container .row {
    position: relative;

    .fa-cart-plus {
      font-size: 40px
    }

    input.form-control.mr-sm-2 {
      width: 400px
    }
  }
}

.row::before,
.container-fluid::before,
.container::before {
  display: table;
  content: " "
}

.row::after,
.container-fluid::after,
.container::after {
  clear: both
}

.product-list {
  display: flex;

  .product-item {
    padding: 20px;
    width: 20%;

    .product-item_img {
      a {
        display: block;

        img {
          width: 100%
        }
      }
    }

    .product-item_info {
      margin-top: 10px;

      .product-name-add {
        margin: 5px 0
      }

      .product-name-add,
      .product-price-buy {
        display: flex;
        justify-content: space-between
      }

      .product-name-add p,
      .product-price-buy h6 {
        margin: 0
      }

      .list-inline {
        margin: 0;

        .color {
          width: 16px;
          height: 16px;
          display: inline-block
        }
      }

    }
  }
}

.more {
  text-align: center;
  margin-top: 20px;
  font-weight: 600
}

// start menu
.menu {
  width: 240px;
  padding: 15px;

  ul.menu-width li:not(:first-child) {
    margin-bottom: 15px;
    width: 20%
  }

  .menu-price li:not(:first-child) {
    display: flex;
    display: flex;
    align-items: center;

    label {
      margin: 0 0 0 10px
    }
  }

  .menu-size {
    .size {
      color: #000;
      display: block;
      width: 100%;
      height: 24px;
      background-color: #F2F2F2;
      text-align: center;
      line-height: 24px;
      position: relative;
      background-position: center;
      background-size: cover;

      &:hover {
        text-decoration: none;
        background-color: #ccc
      }
    }
  }

  /* Set a width if you like */
  a {
    /* Black text color */
    display: block;
    /* Add some padding */
    text-decoration: none;

    &.color {
      height: 24px;
      border: 2px solid
    }
  }
}

// end menu

footer {

  text-align: center;
  height: 48px;
  line-height: 48px;
  border-top: 1px solid #e0e0e0;

  .bor-footer,
  .mail,
  .phone {
    display: inline-block
  }
}

nav {
  @media only screen and (min-device-width: 578px) and (max-device-width: 992px) {
    .collapse:not(.show) {
      display: block
    }
  }
}

main {
  display: flex !important
}
