<footer class="container-fluid bg-light mt-4">
  <div class="row">
    <div class="container">
      <div class="row">
        <span class="mr-5">MixGiay liên kết với các shop và các xưởng lớn để phục vụ người dùng.</span>
        <div class="bor-footer">
          <div class="mail mr-5">
            <span translate>FOOTER.CONTACT_MAIL</span><a href="mailto:mixgiay@gmail.com">mixgiay@gmail.com</a>
          </div>
          <div class="phone">
            <span translate>FOOTER.CALL</span> <span>123456789</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
